# This config is imported in a bash script via source.

# Path to folder including all l10n clones
l10n_clones_path="/path/to/l10n-clones/"

# Path to gecko-strings-quarantine clone
# https://hg.mozilla.org/users/axel_mozilla.com/gecko-strings-quarantine
quarantine_path="/path/to/quarantine-repo/"

# Path to mercurial clone of mozilla-unified, only used for the cleanup
# migrations script. Leave empty if not needed.
# https://hg.mozilla.org/mozilla-unified/
mozilla_unified_path="/path/to/mozilla-unified-repo/"
