# This config is imported in a bash script via source.

# Path to firefox-l10n clone
# https://github.com/mozilla-l10n/firefox-l10n
l10n_path="/path/to/l10n-git-monorepo/"

# Path to firefox-l10n-source clone, with the `update` branch checked-out
# https://github.com/mozilla-l10n/firefox-l10n-source
quarantine_path="/path/to/quarantine-repo/"

# Branch name used when creating a new batch in wet-run
branch_name="update-migration"

# Path to clone of mozilla-firefox/firefox, only used for the cleanup
# migrations script. Leave empty if not needed.
# https://github.com/mozilla-firefox/firefox
mozilla_firefox_path="/path/to/mozilla-firefox-repo/"
